<div class="container">
  <p class="text-center mb-4 display-5">My Collected Pokemons</p>
  <ul>
    <div class="d-flex flex-wrap justify-content-evenly">
      <li *ngFor="let p of collection">
        <img src="{{p.image}}" alt="poke" />
        <p class="h6 text-center">{{p.name}}</p>
      </li>
    </div>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</div>
