<div class="container">
  <h2 class="text-center mb-4">Login</h2>
  <form #createForm="ngForm" (ngSubmit)="onSubmit(username)">
    <fieldset>
      <input
        class="form-control"
        type="text"
        id="username"
        name="username"
        placeholder="What's your name?"
        required
        minlength="2"
        [ngClass]="{'is-valid':username.valid, 'is-invalid':(username.invalid && (username.dirty || username.touched))}"
        ngModel
        #username="ngModel"
      />
      <div
        *ngIf="username.errors && username.invalid && (username.dirty || username.touched)"
      >
        <div class="invalid-feedback" *ngIf="username.errors.required">
          The name is required
        </div>
        <div class="invalid-feedback" *ngIf="username.errors.minlength">
          The name is too short
        </div>
      </div>
    </fieldset>
    <div class="container">
      <div class="row mb-5">
        <div class="col text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="createForm.invalid"
          >
            Start
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
