<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/catalogue">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Pokémon Trainer
    </a>
    <a class="nav-link active" aria-current="page" routerLink="/collection"
      >My Collection</a
    >
  </div>
</nav>
