.container {
  margin-top: 100px;
}

img {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  padding: 4px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.noClick {
  pointer-events: none;
}
