<div class="container">
  <p class="text-center mb-4 display-5">Pokemon Catalogue (Generation I)</p>
  <ul>
    <div class="d-flex flex-wrap justify-content-evenly">
      <li *ngFor="let p of pokemons" (click)="onClick(p)">
        <img *ngIf="!p.isSelected" src="{{p.image}}" alt="poke" />

        <img
          *ngIf="p.isSelected"
          class="noClick"
          src="https://cdn.pixabay.com/photo/2016/07/23/13/18/pokemon-1536849_960_720.png"
          alt="pokeball"
        />

        <p class="h6 text-center">{{p.name}}</p>
      </li>
    </div>
  </ul>
</div>
